/* global tags */
body { background:#EFEFEF; margin:0px; padding:0px; font-size:12px; color:#000000; font-family:"宋体"; line-height:1.6; }
img{ border:0;}
.img_border{padding: 1px;border: 1px solid #CCCCCC;}
.lineh{ line-height:1.2;}

/* link tags */
a{color:#000000;text-decoration: none;}
a:hover {color:#FF0000;text-decoration: underline;}
.bai12l{color:#FFFFFF;text-decoration: none;}
.bai12l:hover {color:#FFCC00;text-decoration: none;}
.link16{color:#000000;text-decoration: none; font-size:16px; font-weight:bold;}
.link16:hover {color:#FF0000;text-decoration: underline; font-size:16px; font-weight:bold;}


/* login tags */
.login_text{ width:155px; height:16px;}
.passcode_text{ width:70px; height:16px;}

/* font tags */
.bai12{ color:#FFFFFF;}
.hong{ color:#FF0000;}
#allmap {width: 800px;height: 450px;margin:0;font-family:"微软雅黑";}